
@{
    ViewBag.Title = "Potwierdzenie";
}
<div class="text-center">
    <h3>
        @ViewBag.ConfirmCommunicate
    </h3>
    <br>
    @{ switch (ViewBag.Controllermethod)
        {
            case "ChangeRoomAvailabilityConfirm":

                using (Html.BeginForm("ChangeRoomAvailability", "Hotel", method: FormMethod.Post))
                {
                    <input type="hidden" name="idRoom" value="@ViewBag.IdRoom" />
                    <input type="hidden" name="statusChangeUp" value="@ViewBag.StatusChangeUp.ToString()" />

                        <div>
                            <input id="submit" type="submit" value="Potwierdzam" class="btn btn-secondary btn-lg" />
                        </div>
                }
                break;
            case "CancellingRentOrReservationConfirm":

                using (Html.BeginForm("CancellingRentOrReservation", "Hotel", method: FormMethod.Post))
                {
                    <input type="hidden" name="IdTrans" value="@ViewBag.IdTrans" />

                    <p> @ViewBag.TypeTrans pokoju: @ViewBag.RoomName  </p>
                    <p>w okresie od: @ViewBag.FromTime  do: @ViewBag.ToTime  </p>

                        <div>
                            <input id="submit" type="submit" value="Potwierdzam" class="btn btn-primary btn-lg" />
                        </div>
                }
                break;
        }
        <br>
    }
    <br />
    @Html.ActionLink("Powrót na panel pokojów hotelowych", "Rooms", "Home", null)

</div>



