@model  IEnumerable<HotelManagementApp.HotelRooms>
@{
    ViewBag.Title = "Pokoje";
}

<body>
   <br/>
<div class="text-center">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Wyświetl pokoje (stan obecny)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Rooms")">Wszystkie pokoje</a>
                <a class="dropdown-item" href="@Url.Action("Rooms", new { conditionOfRoom = 2})">Wolne pokoje</a> <br />
                <a class="dropdown-item" href="@Url.Action("Rooms", new { conditionOfRoom = 3})">Zarezerwowane pokoje</a> <br />
                <a class="dropdown-item" href="@Url.Action("Rooms", new { conditionOfRoom = 4})">Wynajęte pokoje</a> <br />
                <a class="dropdown-item" href="@Url.Action("Rooms", new { conditionOfRoom = 1})">Niedostępne pokoje</a> <br />
            </div>
        </div>
    </div>

    <div class="container">
        <h3> Wyświetl stan pokojów na dany dzień </h3>
        @using (Html.BeginForm("RoomsForDay", "Hotel", method: FormMethod.Get))
        {
            <div class="form-group">
                <label for="dateTimeToReaearch">Data </label>
                <input type="datetime-local" name="dateTimeToReaearch" required />
            </div>
            <div class="form-group">
                <label for="conditionOfRoom">Stan pokojów:</label>
                <select id="conditionOfRoom" name="conditionOfRoom">
                    <option value="">Wszystkie pokoje</option>
                    <option value="2">Wolne pokoje</option>
                    <option value="3">Zarezerwowane pokoje</option>
                    <option value="4">Wynajęte pokoje</option>
                    <option value="1">Niedostępne pokoje</option>
                </select>
                <button type="submit" class="btn btn-primary">Wyświetl </button>
            </div>
        }

    </div>

    <div class="text-center">
        @if (ViewBag.ConditionRooms != null)
        {
            <p align="center" style="font-size:30px">Pokoje o statusie: @ViewBag.ConditionRooms</p>
        }
        else
        {
            <p align="center" style="font-size:30px"> Wszystkie pokoje </p>
        }

        @if (ViewBag.DayToShow != null)
        {
            <p align="center" style="font-size:20px">Stan na dzień: @ViewBag.DayToShow</p>
        }
        else
        {
            <p align="center" style="font-size:20px">Stan obecny</p>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr pokoju </th>
                    <th>Stan pokoju </th>
                    <th>Typ pokoju</th>
                    <th>Koszt wynajęcia za noc na osobę</th>
                    <th>Opis</th>
                    <th>Opis dodatkowy </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <th scope="row">@i.NumberInUserHotel</th>
                        @switch (i.Id_Condition)
                        {
                            case 1:
                                <td>Niedostępny</td>
                                break;
                            case 2:
                                <td>Wolny</td>
                                break;
                            case 3:
                                <td>Zarezerwowany</td>
                                break;
                            case 4:
                                <td>Wynajęty</td>
                                break;
                        }
                        <td>@i.NameOfRoom</td>
                        <td>@i.CostOfRent</td>
                        <td>@i.OverallDescription</td>
                        <td>@i.OverallDescriptionAdditional</td>

                        @if (i.Id_Condition == (int)HotelManagementApp.Models.ConditionOFHotelRooms.Unavailable)
                        {
                            <td> - </td>
                            <td> - </td>
                        }
                        else if (i.Id_Condition == (int)HotelManagementApp.Models.ConditionOFHotelRooms.Available)
                        {
                            <td>@Html.ActionLink("Rezerwuj", "RentOrReserveRoom", "Hotel", new { id_HotelRoom = @i.Id_HotelRoom, typeOfTrans = 1 }, null)</td>
                            <td>@Html.ActionLink("Wynajmij", "RentOrReserveRoom", "Hotel", new { id_HotelRoom = @i.Id_HotelRoom, typeOfTrans = 2 }, null)</td>
                        }
                        else if (i.Id_Condition == (int)HotelManagementApp.Models.ConditionOFHotelRooms.Reserved)
                        {
                            <td>@Html.ActionLink("Anuluj rezerwację", "CancellingRentOrReservationConfirm", "Hotel", new { IdRoom = @i.Id_HotelRoom, InDay = ViewBag.DayToShow == null ? DateTime.Now : ViewBag.DayToShow }, null) </td>
                            <td> - </td>
                        }
                        else if (i.Id_Condition == (int)HotelManagementApp.Models.ConditionOFHotelRooms.Rented)
                        {
                            <td>@Html.ActionLink("Anuluj wynajęcie", "CancellingRentOrReservationConfirm", "Hotel", new { IdRoom = @i.Id_HotelRoom, InDay = ViewBag.DayToShow == null ? DateTime.Now : ViewBag.DayToShow }, null) </td>
                            <td> - </td>
                        }
                        <td>@Html.ActionLink("Wyświetl dane pokoju", "RoomDetails", "Hotel", new { idRoom = @i.Id_HotelRoom }, null)</td>
                    </tr>
                }

            </tbody>
        </table>
        <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Dodaj nowy pokój", "RoomCreate", "Hotel", null)</button>
    </div>
</div>
</body>

