@model dynamic
@{
    ViewBag.Title = "Dane pokoju";
}
<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="text-center">
    <h2>Pokój nr: @Model.RoomDetails.Id_HotelRoom  @Model.RoomDetails.NameOfRoom </h2>

    <ul class="list-group">
        <li class="list-group-item">Opis pokoju:  @Model.RoomDetails.OverallDescription </li>
        <li class="list-group-item">Koszt: wynajęcia:  @Model.RoomDetails.CostOfRent </li>
        <li class="list-group-item">Opis dodatkowy: @Model.RoomDetails.OverallDescriptionAdditional </li>
        <li class="list-group-item">Stan pokoju: @Model.RoomDetails.Id_Condition </li>
    </ul>

    <br />
    <div class="container">

        @if (@Model.RoomDetails.Id_Condition == (int)HotelManagementApp.Models.ConditionOFHotelRooms.Unavailable)
        {
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Zmiana stanu pokoju na dostępny", "ChangeRoomAvailabilityConfirm", "Home", new { idRoom = @Model.RoomDetails.Id_HotelRoom, statusChangeUp = true }, null)</button>
        }
        else
        {
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Rezerwuj pokój", "RentOrReserveRoom", "Home", new { id_HotelRoom = @Model.RoomDetails.Id_HotelRoom, typeOfTrans = (int)HotelManagementApp.Models.TypeOfTrans.Reservation }, null)</button>
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Wynajmij pokój", "RentOrReserveRoom", "Home", new { id_HotelRoom = @Model.RoomDetails.Id_HotelRoom, typeOfTrans = (int)HotelManagementApp.Models.TypeOfTrans.Rent }, null)</button>
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Rejestruj usługę/operacje", "RegisterService", "Home", new { idRoom = @Model.RoomDetails.Id_HotelRoom }, null)</button>
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Zmiana stanu pokoju na niedostępny", "ChangeRoomAvailabilityConfirm", "Home", new { idRoom = @Model.RoomDetails.Id_HotelRoom, statusChangeUp = false }, null)</button>
        }
    </div>

    <div class="text-center">

        <h3>Cechy pokoju: </h3>
        <div class="container">
            <ul>
                @foreach (var i in Model.RoomFeatures)
                {
                    <li> @i.Description </li>
                }
            </ul>
        </div>
        <button type="button" class="btn btn-secondary btn-lg" id="ShowAddingFeature">Dodaj cechę </button>
        @using (Html.BeginForm("AddFeaturesToRoom", "Home", method: FormMethod.Post))
        {
            <div class="container" id="FormFeature" style="visibility:hidden;">
                <input type="hidden" name="idRoomHotel" value="@Model.RoomDetails.Id_HotelRoom" />
                <div class="form-group">
                    <label for="Description">Opis cechy: </label>
                    <input type="text" class="form-control" name="Description" required /> 
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input id="submit" type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </div>
         }
    </div>
    <h2>Transakcje dla pokoju</h2>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id transakcji </th>
            <th>Typ transakcji </th>
            <th>Zarejestrowana kwota </th>
            <th>Opis</th>
            <th>Okres od</th>
            <th>Okres do </th>
            <th>Pracownik rejestrujący </th>
            <th>Data rejestracji</th>
            <th>Status </th>
            <th>Akcja </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.RoomTransactions)
        {
            <tr>
                <td>@i.Id_Trans </td>
                <td>@i.TypeTransDesc</td>
                <td>@i.Cost</td>
                <td>@i.TransDesc</td>
                <td>@i.FromTime</td>
                <td>@i.ToTime</td>
                <td>@i.SurnameLoggingUser</td>
                <td>@i.CreatedRecordDateTime</td>

                @if (i.IsActive == true)
                {
                    <td> aktywny </td>
                }
                else if (i.IsActive == false)
                {
                    <td> nieaktywny </td>
                }
                else
                {
                    <td>-</td>
                }

                @if (i.Id_TypeTrans == (int)HotelManagementApp.Models.TypeOfTrans.Reservation && i.IsActive == true && DateTime.Now < i.ToTime)
                {
                    <td>@Html.ActionLink("Anuluj rezerwację", "CancellingRentOrReservationConfirm", "Home", new { IdTrans = @i.Id_Trans }, null) </td>
                }
                else if (i.Id_TypeTrans == (int)HotelManagementApp.Models.TypeOfTrans.Rent && i.IsActive == true && DateTime.Now < i.ToTime)
                {
                    <td>@Html.ActionLink("Anuluj wynajęcie", "CancellingRentOrReservationConfirm", "Home", new { IdTrans = @i.Id_Trans }, null) </td>
                }
                else
                {
                    <td> - </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {

        $("#ShowAddingFeature").on("click", function () {
            $('#FormFeature').css("visibility", "visible");
        });

    });
</script>